In [4]:
import pandas as pd
from faker import Faker
import datetime
import random
from faker.providers import DynamicProvider


class BaseDataGenerator:
    def __init__(self, records):
        self.records = records
        self.fake = Faker('en_IN')

''' *************** Create DataFrame for Table Students ************** '''

class StudentGenerator(BaseDataGenerator):
    def generate_students(self):
        students = []
        for i in range(1, self.records + 1):
            name = self.fake.name()
            enrollment_year = random.randint(2015, 2024)
            graduation_year = random.randint(enrollment_year, enrollment_year + 5)
            students.append({
                "student_id": i,
                "Name": name,
                "Age": random.randint(15, 50),
                "Gender": random.choice(['Male', 'Female', 'Other']),
                "Email": name.lower().replace(' ', '.') + '@fake_domain-2.com',
                "phone": self.fake.phone_number(),
                "enrollment_year": enrollment_year,
                "course_batch": random.choice(['Batch1', 'Batch2', 'Batch3', 'Batch4', 'Batch5', 'Batch6', 'Batch7']),
                "City": self.fake.city(),
                "graduation_year": graduation_year
            })
        return pd.DataFrame(students)

''' *************** Create DataFrame for Table Programming ************** '''

class ProgramGenerator(BaseDataGenerator):
    def __init__(self, records, student_ids):
        super().__init__(records)
        self.student_ids = student_ids

    def generate_program(self):
        skills_provider = DynamicProvider(
            provider_name="skills",
            elements=["Python", "Pandas", "Linux", "SQL", "Data Mining", "Java", "C", "C#", "JavaScript"],
        )
        self.fake.add_provider(skills_provider)

        program_data = []
        for i in range(1,self.records+1):
            problems_solved = random.randint(0, 150)
            assessments_completed = random.randint(0, 30)
            mini_projects = random.randint(0, 30)
            certifications_earned = random.randint(0, 30)
            total_score = problems_solved + assessments_completed + mini_projects + certifications_earned

            program_data.append({
                "programming_id": self.fake.uuid4(),
                "student_id": i,
                "language": self.fake.skills(),
                "problems_solved": problems_solved,
                "assessments_completed": assessments_completed,
                "mini_projects": mini_projects,
                "certifications_earned": certifications_earned,
                "latest_project_score": total_score
            })
        return pd.DataFrame(program_data)

''' *************** Create DataFrame for Table SoftSkills ************** '''

class SkillGenerator(BaseDataGenerator):
    def __init__(self, records, student_ids):
        super().__init__(records)
        self.student_ids = student_ids

    def generate_skills(self):
        skills_data = []
        for i in range(1,self.records+1):
            skills_data.append({
                "soft_skill_id": self.fake.uuid4(),
                "student_id": i,
                "communication": random.randint(0, 100),
                "teamwork": random.randint(0, 100),
                "presentation": random.randint(0, 100),
                "leadership": random.randint(0, 100),
                "critical_thinking": random.randint(0, 100),
                "interpersonal_skills": random.randint(0, 100)
            })
        return pd.DataFrame(skills_data)

''' *************** Create DataFrame for Table Placement ************** '''

class PlacementGenerator(BaseDataGenerator):
    def __init__(self, records, student_ids):
        super().__init__(records)
        self.student_ids = student_ids   
  
    
    def fake_data_generate_placement(self):
        
        company_provider = DynamicProvider(
            provider_name="company",
            elements=["CTS", "TCS", "WIPRO", "INFOSYS", "Amazon", "HCL ", "Capgemini", "IBM", "Accenture"],
        )        
        self.fake.add_provider(company_provider)   
        placement = []

        for i in range(1,self.records+1):
            placement.append({
                    "placement_id" : self.fake.uuid4(),
                    "student_id" : i,
                    "mock_interview_score" : random.randint(0,100),
                    "internships_completed" : random.randint(0,20),
                    "placement_status" : random.choice(['Ready','Not Ready','Placed']),
                    "interview_rounds_cleared" :  random.randint(0,20)
                    })
                          
        return pd.DataFrame(placement)       
        
''' *************** Create DataFrame Only for the students placed ************** '''
                                
    def add_placement_date(self,status):
            if status =='Placed':
                return {
                    "company_name" : self.fake.company(),
                    "placement_package":f"$ {random.randint(20000,50000)}",
                    "placement_date":self.fake.date_time_between(start_date='-5y', end_date='now'),
                    }
                                    
            else: 
                return {
                    "company_name" : None,
                    "placement_package":None,
                    "placement_date":None
                    }

''' *************** Join 2  DataFrames for Table Placement ************** '''

    def generate_placement_dataframe(self):
            placement_df1 = self.fake_data_generate_placement()
            placement_df2 = placement_df1["placement_status"].apply(self.add_placement_date).apply(pd.Series)
            finaldf = pd.concat([placement_df1,placement_df2], axis=1)
            return finaldf


class FakeDataPlacement:
    def __init__(self, records):
        self.records = records

        # Step 1: Generate Students
        self.students_df = StudentGenerator(records).generate_students()
        self.student_ids = self.students_df['student_id'].tolist()

        # Step 2–4: Other data (based on student IDs)
        self.programming_df = ProgramGenerator(records, self.student_ids).generate_program()
        self.skills_df = SkillGenerator(records, self.student_ids).generate_skills()
        self.placement_df = PlacementGenerator(records, self.student_ids).generate_placement_dataframe()

    def get_datasets(self):
        return {
            "students": self.students_df,
            "programming": self.programming_df,
            "softskills": self.skills_df,
            "placements": self.placement_df
        }

    def preview(self):
        return {
            "students": self.students_df.head(),
            "programming": self.programming_df.head(),
            "softskills": self.skills_df.head(),
            "placements": self.placement_df.head()
        }


fx = FakeDataPlacement(50)
data = fx.get_datasets()

# Preview each
for name, df in fx.preview().items():
    print(f"\n{name.upper()} DATA:")
    print(df)

{'students':     student_id                Name  Age  Gender  \
0            1    Banjeet Upadhyay   30   Other
1            2       Daniel Varkey   49  Female
2            3          Ayaan Tata   15   Other
3            4        Nisha Thaker   37  Female
4            5        Tanmayi Gala   37   Other
5            6         Wishi Nagar   47   Other
6            7        Advik Sahota   21    Male
7            8          Viraj Tata   50  Female
8            9     Onkar Venkatesh   23  Female
9           10  Pushti Ranganathan   18   Other
10          11        Mugdha Mahal   22    Male
11          12      Bina Kuruvilla   21   Other
12          13           Falak Ram   35  Female
13          14         Umang Saran   31  Female
14          15       Farhan Oommen   32  Female
15          16      Kashish Mannan   30  Female
16          17    Lopa Ranganathan   41    Male
17          18        Quincy Uppal   24    Male
18          19        Sanya Sarkar   23  Female
19          20       Sathvik Kunda   19    Male
20          21         Ekani Borra   38  Female
21          22       Akshay Tailor   15  Female
22          23          Arjun Dhar   47  Female
23          24        Gaurang Gill   43    Male
24          25          Ekapad Pai   21  Female
25          26        Vihaan Barad   23   Other
26          27     Aditya Srinivas   20   Other
27          28        Lohit Sarraf   20    Male
28          29        Lavanya Nori   24    Male
29          30        Azad Dhingra   23    Male
30          31          Ikbal Peri   45  Female
31          32        Manthan Buch   19   Other
32          33          Abhiram Om   43   Other
33          34       Jonathan Iyer   18   Other
34          35        Raagini Jain   45   Other
35          36       Theodore Deep   36  Female
36          37         Lekha Wagle   48    Male
37          38        Aarna Sarraf   50   Other
38          39      Urishilla Kota   20   Other
39          40         Gunbir Toor   33    Male
40          41            Eta Keer   27  Female
41          42    Nimrat Nagarajan   19   Other
42          43        Anusha Magar   42    Male
43          44         Isaac Bajwa   35   Other
44          45         Qarin Vohra   30   Other
45          46  Finn Krishnamurthy   35    Male
46          47        Unnati Sarna   44   Other
47          48         Manan Ghosh   41  Female
48          49        Mohini Wagle   17    Male
49          50     Jairaj Deshmukh   36   Other

                                   Email          phone  enrollment_year  \
0     banjeet.upadhyay@fake_domain-2.com     3877176620             2015
1        daniel.varkey@fake_domain-2.com  +914209731765             2022
2           ayaan.tata@fake_domain-2.com    06050832317             2015
3         nisha.thaker@fake_domain-2.com     7837984620             2023
4         tanmayi.gala@fake_domain-2.com     3289041295             2022
5          wishi.nagar@fake_domain-2.com     9123820975             2016
6         advik.sahota@fake_domain-2.com  +918104533882             2019
7           viraj.tata@fake_domain-2.com     5211627912             2019
8      onkar.venkatesh@fake_domain-2.com     2769541876             2019
9   pushti.ranganathan@fake_domain-2.com    03681858556             2020
10        mugdha.mahal@fake_domain-2.com  +916358166609             2020
11      bina.kuruvilla@fake_domain-2.com  +918568582136             2018
12           falak.ram@fake_domain-2.com  +911597829410             2022
13         umang.saran@fake_domain-2.com  +917882589171             2015
14       farhan.oommen@fake_domain-2.com  +916096270268             2022
15      kashish.mannan@fake_domain-2.com     7655252748             2018
16    lopa.ranganathan@fake_domain-2.com     1481360509             2022
17        quincy.uppal@fake_domain-2.com     4061279650             2021
18        sanya.sarkar@fake_domain-2.com  +913636200760             2022
19       sathvik.kunda@fake_domain-2.com     9155833969             2021
20         ekani.borra@fake_domain-2.com     7577712364             2023
21       akshay.tailor@fake_domain-2.com    08047660881             2018
22          arjun.dhar@fake_domain-2.com  +915578214932             2017
23        gaurang.gill@fake_domain-2.com  +914835150000             2017
24          ekapad.pai@fake_domain-2.com    09062639897             2021
25        vihaan.barad@fake_domain-2.com     5436951450             2023
26     aditya.srinivas@fake_domain-2.com  +919121923718             2015
27        lohit.sarraf@fake_domain-2.com     1194244329             2020
28        lavanya.nori@fake_domain-2.com  +910745257652             2015
29        azad.dhingra@fake_domain-2.com     2132128978             2015
30          ikbal.peri@fake_domain-2.com  +918074255300             2023
31        manthan.buch@fake_domain-2.com    05983673823             2016
32          abhiram.om@fake_domain-2.com     0696224313             2023
33       jonathan.iyer@fake_domain-2.com    05705235014             2016
34        raagini.jain@fake_domain-2.com     7001307878             2019
35       theodore.deep@fake_domain-2.com  +917481433951             2024
36         lekha.wagle@fake_domain-2.com    06655958236             2022
37        aarna.sarraf@fake_domain-2.com    04134840296             2018
38      urishilla.kota@fake_domain-2.com     9639386620             2016
39         gunbir.toor@fake_domain-2.com  +915369561828             2016
40            eta.keer@fake_domain-2.com    06094669493             2024
41    nimrat.nagarajan@fake_domain-2.com     3337267898             2022
42        anusha.magar@fake_domain-2.com    04956429994             2019
43         isaac.bajwa@fake_domain-2.com    07180637437             2024
44         qarin.vohra@fake_domain-2.com     3920344398             2015
45  finn.krishnamurthy@fake_domain-2.com    05322011302             2017
46        unnati.sarna@fake_domain-2.com    05506553429             2023
47         manan.ghosh@fake_domain-2.com     3372917245             2017
48        mohini.wagle@fake_domain-2.com  +914708935372             2017
49     jairaj.deshmukh@fake_domain-2.com     0681098809             2021

   course_batch                          City  graduation_year
0        Batch7                      Bahraich             2019
1        Batch5                    Ramagundam             2027
2        Batch3                        Amroha             2016
3        Batch7                      Gopalpur             2025
4        Batch2                      Srinagar             2025
5        Batch3                      Jamnagar             2016
6        Batch4                        Etawah             2022
7        Batch2                       Saharsa             2024
8        Batch1         Surendranagar Dudhrej             2022
9        Batch4                    Ramagundam             2021
10       Batch6                     Kamarhati             2025
11       Batch2  Raurkela Industrial Township             2022
12       Batch5                  North Dumdum             2023
13       Batch5                       Danapur             2018
14       Batch2                      Agartala             2025
15       Batch3                 Visakhapatnam             2020
16       Batch5                     Ghaziabad             2022
17       Batch3                       Barasat             2025
18       Batch6                     Panchkula             2024
19       Batch2                 Muzaffarnagar             2022
20       Batch5                        Etawah             2028
21       Batch1                        Howrah             2023
22       Batch2                      Jamnagar             2022
23       Batch3                      Ambattur             2019
24       Batch7                     Begusarai             2026
25       Batch4                         Patna             2025
26       Batch2                        Ongole             2016
27       Batch4                      Amravati             2020
28       Batch3                          Pune             2016
29       Batch1                        Howrah             2016
30       Batch6                        Jaipur             2027
31       Batch5                         Alwar             2021
32       Batch2                      Varanasi             2025
33       Batch6                         Salem             2016
34       Batch1                        Purnia             2024
35       Batch6                       Nandyal             2029
36       Batch5                        Karnal             2022
37       Batch4                     Hyderabad             2019
38       Batch5                         Katni             2018
39       Batch6                        Amroha             2018
40       Batch2                   Bulandshahr             2026
41       Batch3                       Sambhal             2025
42       Batch6                   Pudukkottai             2020
43       Batch7                       Bellary             2028
44       Batch3                        Nanded             2019
45       Batch6                      Bareilly             2020
46       Batch5                       Bhiwani             2023
47       Batch7                   Vasai-Virar             2021
48       Batch2                     Tadipatri             2021
49       Batch2                    Bhimavaram             2024  , 'programming':                           programming_id  student_id     language  \
0   88f413f1-f896-4a5d-a7be-2e36f3068760           1       Python
1   6221576f-c5ec-473f-94a7-600a84b17858           2       Pandas
2   26b8f58b-9d65-4a50-8ed9-77621ddadaf7           3         Java
3   50f132bb-d972-4f35-a406-fb85cb655adf           4       Pandas
4   55eec837-f2cc-4deb-8af1-53cf9b8a4079           5  Data Mining
5   cc97952b-ab5a-449b-8689-4ce06abe73b4           6         Java
6   c5908e86-3a2b-4613-82c1-93ac2d0c7c3d           7   JavaScript
7   41016126-c7cc-4325-8674-cf97285d33b8           8       Python
8   f39ecd94-168e-48c8-97b0-7f8e9d62dbbd           9           C#
9   50ac1738-ee68-4331-8f92-9e6f9dfce0ff          10  Data Mining
10  38814e89-510d-44cc-8c17-297af8be149b          11            C
11  96653383-3f30-4f16-8149-3d60c70387c7          12            C
12  35b7b299-f8e2-488e-a5db-9e80ed3f5750          13       Pandas
13  a0606ab3-2881-4801-8dc1-95c606f79c39          14           C#
14  255cca14-ecc5-475d-8667-8ad123308c4e          15  Data Mining
15  61f10d2b-aeaf-4822-9bed-c1963e3ec7e4          16  Data Mining
16  4d94bcd0-e577-4119-a492-930740b8f6ce          17         Java
17  8f189063-3c2c-4cd9-b1b1-b144a58d67ff          18       Pandas
18  e9003131-62a2-49a0-8595-1a6371396232          19       Python
19  34e57ea7-bab1-48d2-b4a2-23ce3656c36f          20            C
20  eb09ce5f-8a2f-4ae0-891a-92d0a3e6bf53          21   JavaScript
21  819a01ad-4e57-4a7d-ad20-548476d795e1          22        Linux
22  7bb78544-e364-4fb6-a19a-3b32158ce00f          23           C#
23  54db1e56-2c96-4da4-a469-5b413c818c5a          24          SQL
24  950ea6ac-d418-4b52-abe1-f17ebf8da330          25       Pandas
25  51b185e1-03f6-4265-8b9d-3bc3599f39d1          26   JavaScript
26  9452f08a-30c4-4e0c-8bb7-ebd69569bc16          27          SQL
27  9fb3d477-c1cf-4bff-8f38-b9706fda3bae          28         Java
28  239aae13-efd2-4bd4-a42f-5f4c39c94ccd          29         Java
29  d63b8a2c-e880-4ba7-9350-f602e7ac8f73          30  Data Mining
30  141947a3-3827-4300-8608-289a173b05df          31          SQL
31  71f6d4fb-058f-41c4-9381-f11b7457e7aa          32   JavaScript
32  a726f4d7-51de-49a6-9d18-8d550c8dbb6e          33         Java
33  8f06db66-15f4-4a51-9917-e1ee7b4e1865          34  Data Mining
34  dc6f89a6-b3c3-44cf-92bd-222463a11eb8          35         Java
35  20117d04-8786-44d9-ad63-bc10458d4ca3          36       Python
36  83288414-56ae-40df-9cc0-4e4ec56fb87b          37            C
37  f971189c-4305-4b49-9374-9df27a94bb56          38   JavaScript
38  282e4c3e-4804-49a1-8ed0-792c201c27aa          39          SQL
39  90677172-a385-41c7-8a81-7a8ae9350a61          40         Java
40  24112671-43e5-4eef-8bda-8b0e9935960d          41          SQL
41  95d4536f-465e-4b7f-9812-bb51c9bc366d          42  Data Mining
42  4d996d99-6448-4f7d-8e5a-1924b0af3703          43            C
43  941c5641-6ad0-4907-ad1f-b1bd862cc711          44           C#
44  ba0476b7-6492-4626-b6d7-c1bda2633f24          45           C#
45  9ed6b296-a9b8-473a-bce2-4b1a950b5f0c          46          SQL
46  37304502-3046-4092-98d0-aa2dd8978db3          47  Data Mining
47  f3aa8474-eced-47ef-929f-829cfdf17e58          48   JavaScript
48  c2e6a7d9-fd3e-40ee-9426-29acfa7ceecd          49         Java
49  9e1038b5-d76b-4622-8a6e-70a0e2019043          50  Data Mining

    problems_solved  assessments_completed  mini_projects  \
0               148                      3             15
1                59                      8             13
2                96                     11              9
3                29                      5             28
4                42                      5              9
5                25                     30              2
6                 4                     15             21
7                56                      5             16
8                16                     26              2
9                43                     25             28
10               65                      7             20
11              131                      8             20
12                1                     11              2
13               86                     14             14
14               90                     14             17
15               47                      2             20
16              141                      1              8
17               60                     28             10
18                5                      5              6
19               30                     17             26
20              124                      2              1
21               92                     10              4
22              119                      7              0
23              139                     16             25
24               41                     27              5
25               31                     11             14
26                2                      2             30
27               97                      6             20
28               99                     26              0
29              105                     25              4
30               41                     26             21
31               39                     30             13
32              141                      1              6
33               60                     18              4
34               70                      5             15
35              131                      4             13
36               47                     27             29
37              136                     10             16
38               19                     23              3
39                9                     20             21
40              107                     24             20
41              100                     10              6
42              139                     30             26
43               50                     13              2
44               70                     18              3
45               59                     10             29
46               18                     13              6
47               42                      7             30
48              120                     17             23
49               42                     12             29

    certifications_earned  latest_project_score
0                      13                   179
1                      29                   109
2                      17                   133
3                      10                    72
4                      30                    86
5                      22                    79
6                       2                    42
7                       2                    79
8                      25                    69
9                       3                    99
10                     17                   109
11                      1                   160
12                      0                    14
13                     23                   137
14                      9                   130
15                     12                    81
16                     19                   169
17                     15                   113
18                      7                    23
19                     18                    91
20                     26                   153
21                      9                   115
22                      1                   127
23                     11                   191
24                      1                    74
25                     10                    66
26                      4                    38
27                      6                   129
28                      6                   131
29                     13                   147
30                     17                   105
31                     12                    94
32                      3                   151
33                      9                    91
34                     10                   100
35                     16                   164
36                     26                   129
37                     29                   191
38                      2                    47
39                     19                    69
40                      7                   158
41                     19                   135
42                     18                   213
43                      5                    70
44                      5                    96
45                     19                   117
46                      0                    37
47                     22                   101
48                     12                   172
49                     23                   106  , 'softskills':                            soft_skill_id  student_id  communication  teamwork  \
0   2bcefacd-ab90-43d8-a9f3-3348ff380be9           1             65        55
1   6e6502d7-658c-408e-88b2-0d4131fa3f8e           2              9        79
2   670b93e5-f788-4b29-b8ca-41e801c5f9b8           3             15        66
3   a038ea96-8035-46ab-b7bd-dd282d804f32           4             85        65
4   2f605333-8739-48c7-b465-6afe8cf8f7ec           5             55        78
5   6565f092-ad42-4665-a645-fb676c282a64           6             65        20
6   afd3a973-e3f0-4199-b4b4-dd3e71b04cf4           7             39        71
7   09acc66e-8f8f-49fb-833c-389191280f7a           8              0        34
8   605796a5-0e65-40ea-b75b-37e481ad370b           9             69        84
9   3e9eba32-6c0b-4f2f-869d-e49e3a441efd          10             67        59
10  321283a7-a39f-472b-9a9e-f52a64c4611a          11             71        30
11  da49b0f6-4f34-4181-9f90-40393c486a87          12             98        77
12  e58ec569-815f-4760-a48e-f97b0cd39da2          13             49        13
13  a605011f-8e32-47c6-92cb-aa91a2b1c99b          14             13        71
14  2be7d419-6283-448b-9aed-33ec3c951dbb          15              8        28
15  ff246e49-ee6c-4d61-a742-74fd8d9c20dc          16              9        47
16  df35babb-a64e-462a-97e1-ff73e86f58d9          17             56         8
17  1af27df7-cd13-42f4-a6d1-3abd0f507170          18             85        44
18  f5c3abd0-d56d-4156-955e-e3e79ce8b281          19             79        99
19  a9698fce-dac8-4918-b062-c0e92a959f0e          20              7        78
20  7037aa63-777c-4cf3-bda7-76dd8f55cbfa          21              9        52

In [5]:
from sqlalchemy import create_engine

# Setup
engine = create_engine("mysql+mysqlconnector://{user}:{pw}@{host}/{db}".format(host="127.0.0.1", db="placementeligibility", user="root", pw="NewStart2025"))
#customers_df.to_sql('students', engine, if_exists='append', index=False)

# Export students first
try:
    data["students"].to_sql(name="students", con=engine, if_exists="append", index=False)


    print("Sucessfully exported STUDENTS table to MySQL.")

except SQLAlchemyError as e:
    print("Error occurred:", e)

try:
# Export dependent tables
    for table_name in ["programming", "softskills", "placements"]:
        #data[table_name].to_sql(name=table_name, con=engine, if_exists="replace", index=False)
        data[table_name].to_sql(name=table_name, con=engine, if_exists="append", index=False)
        print(f" Sucessfully exported '{table_name}' table to MySQL.")

except SQLAlchemyError as e:
    print("Error occurred:", e)

Sucessfully exported STUDENTS table to MySQL.
 Sucessfully exported 'programming' table to MySQL.
 Sucessfully exported 'softskills' table to MySQL.
 Sucessfully exported 'placements' table to MySQL.