In [ ]:
''' *************** My SQL DB Connection *************** '''
import pandas as pd
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect (
        host='127.0.0.1',
        user='root',
        password='NewStart2025',
        database='guvi'
    )
    if connection.is_connected():
        print("SQL Connected")
        #df.to_sql('customers', connection, if_exists='append', index=False)
        cursor = connection.cursor()

   ''' *************** Create Table Students ************** '''
     
        create_studentstable_query = """
            CREATE TABLE IF NOT EXISTS students (
                Student_id INT NOT NULL,
                Name VARCHAR(100) NOT NULL,
                Age INT,
                Gender VARCHAR(10) NOT NULL,
                Email VARCHAR(255) NOT NULL,
                Phone VARCHAR(50),
                Enrollment_year YEAR,
                Course_batch VARCHAR(255),
                City VARCHAR(255),
                Graduation_year YEAR,
                CONSTRAINT PK_Person PRIMARY KEY (Student_id),
                CONSTRAINT CHK_Gender CHECK (Gender IN ('Male', 'Female', 'Other')),
                CONSTRAINT CHK_Enrollyear CHECK (Enrollment_year >= 2000),
                CONSTRAINT CHK_Gduyear CHECK (Graduation_year >= 2000)
                );
        """

   ''' *************** Create Table Programming ************** '''

        create_programmingtable_query = """
            CREATE TABLE IF NOT EXISTS Programming (
                    Programming_id  int NOT NULL,
                    Student_id  int NOT NULL,
                    Language varchar(100) NOT NULL,
                    Problems_solved int,
                    Assessments_completed int,
                    Mini_projects int,
                    Certifications_earned int,
                    Latest_project_score int,
                    PRIMARY KEY (Programming_id),
                    FOREIGN KEY (Student_id) REFERENCES Students (Student_id)
                  );
        """

   ''' *************** Create Table SoftSkills ************** '''

        create_softSkillstable_query = """
            CREATE TABLE IF NOT EXISTS SoftSkills  (
                soft_skill_id  int NOT NULL,
                student_id  int NOT NULL,
                communication int,
                teamwork int,
                presentation int,
                leadership int,
                critical_thinking int,
                interpersonal_skills int,
                PRIMARY KEY (soft_skill_id),
                FOREIGN KEY (student_id) REFERENCES Students (student_id)
              );
        """
   ''' *************** Create Table Placement ************** '''

        create_placementstable_query = """
            CREATE TABLE IF NOT EXISTS Placements  (
                placement_id  int NOT NULL,
                student_id  int NOT NULL,
                mock_interview_score int,
                internships_completed int,
                placement_status varchar(100) NOT NULL,
                company_name varchar(100), 
                placement_package varchar(100),
                interview_rounds_cleared int,
                placement_date DATE,
                PRIMARY KEY (placement_id),
                FOREIGN KEY (student_id) REFERENCES Students (student_id),
                CONSTRAINT CHK_Status CHECK (placement_status in ('Ready','Not Ready','Placed'))
              );
        """
        cursor.execute(create_studentstable_query)
        print("Table students created sucessfully")
        cursor.execute(create_programmingtable_query)
        print("Table programming created sucessfully")
        cursor.execute(create_softSkillstable_query)
        print("Table softSkills created sucessfully")
        cursor.execute(create_placementstable_query)
        print("Table placements created sucessfully")
except Error as e:
    print("something went wrong")

finally:
    if connection.is_connected():
        connection.close()
    print("SQL Connection Closed")